#container {
	display: flex;
	align-items: center;
	justify-content: center;
}
#container,
body,
html {
	width: 100%;
	height: 100%;
}
body {
	background-color: red;
	color: gold;
}

button {
	background-color: yellow;
}

input,
button,
body {
	font-size: 25;
}

#content {
	margin-left: auto;
	margin-right: 0;
}

#log {
	margin-left: auto;
	margin-right: 5vh;
}

.guess-fail {
	color: white;
}

.guess-sucess {
	color: lightgreen;
}

#log {
	max-height: 90vh;
	overflow-y: scroll;
}
