#container {
	display: flex;
	align-items: center;
	justify-content: center;
}
#container,
body,
html {
	width: 100%;
	height: 100%;
}
body {
	background-color: red;
	color: gold;
}

button {
	background-color: yellow;
}

input,
button,
body {
	font-size: 25;
}
